html,
body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: black
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: #c9c9c9;
    padding: 10px 20px 0px;
    color: black;
    margin-top: 200;
    font-size: 1.2em;
    
}

.header {
    background-color: black;
    min-height: 150px;


}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(27, 27, 27);
    min-height: 150px;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}

.footer ul {
    padding: 50;
    margin: 0;
}

.footer li {
    margin-bottom: 10px;
}


table {
    border: solid, 1px;
}

table thead {
    background-color: black;
    color: white;
    align-items: center;
    padding: 0;
}

table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}


table tbody tr:hover td {
    background-color: rgb(141, 141, 141);
    cursor: pointer;
}

.tabela {
    margin: 0 auto;
    width: 50%;
    text-align: center;

}

.description {
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    justify-content: end;

}

.paragrafoDescription {
    margin-left: 40px;
}

.aboutclinic {
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    justify-content: end;

}

.paragrafoAboutclinic {
    margin-left: 40px;
}

.descrição {
    text-align: justify;

}

.formulario- {

    justify-items: center;
}
